In [9]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import mysql.connector
import os
from mysql.connector import errorcode
import pandas as pd
import sys
import json

In [13]:
locations = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/locations.csv')
full_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/full_data.csv')

In [14]:
full_data = full_data.fillna(0)
mysql_data = [tuple(x) for x in full_data.values.tolist()]

In [12]:
locations.tail()

,countriesAndTerritories,location,continent,population_year,population
205,Vietnam,Vietnam,Asia,2020.0,97338583.0
206,Western_Sahara,Western Sahara,Africa,2020.0,597330.0
207,Yemen,Yemen,Asia,2020.0,29825968.0
208,Zambia,Zambia,Africa,2020.0,18383956.0
209,Zimbabwe,Zimbabwe,Africa,2020.0,14862927.0

In [8]:
len(full_data)

30238