In [2]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import mysql.connector
import os
from mysql.connector import errorcode
import pandas as pd
import sys
import json

In [3]:
locations = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/locations.csv')
full_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/full_data.csv')

In [4]:
full_data.loc[full_data['location'] == 'United States'].tail(20)

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
28811,2020-06-25,United States,34339.0,751.0,2381361.0,121979.0,218071.0,4262.0,380897.0,9055.0
28812,2020-06-26,United States,40949.0,2437.0,2422310.0,124416.0,231258.0,5982.0,398963.0,10596.0
28813,2020-06-27,United States,45527.0,623.0,2467837.0,125039.0,246876.0,5927.0,418851.0,10370.0
28814,2020-06-28,United States,42486.0,500.0,2510323.0,125539.0,255204.0,5820.0,435797.0,10103.0
28815,2020-06-29,United States,38673.0,265.0,2548996.0,125804.0,268084.0,5829.0,454927.0,10072.0
28816,2020-06-30,United States,41556.0,336.0,2590552.0,126140.0,278250.0,5738.0,476526.0,10013.0
28817,2020-07-01,United States,43880.0,1270.0,2634432.0,127410.0,287410.0,6182.0,496701.0,10447.0
28818,2020-07-02,United States,52048.0,652.0,2686480.0,128062.0,305119.0,6083.0,523190.0,10345.0
28819,2020-07-03,United States,53399.0,678.0,2739879.0,128740.0,317569.0,4324.0,548827.0,10306.0
28820,2020-07-04,United States,54442.0,694.0,2794321.0,129434.0,326484.0,4395.0,573360.0,10322.0
28821,2020-07-05,United States,45221.0,242.0,2839542.0,129676.0,329219.0,4137.0,584423.0,9957.0
28822,2020-07-06,United States,49093.0,271.0,2888635.0,129947.0,339639.0,4143.0,607723.0,9972.0
28823,2020-07-07,United States,49990.0,359.0,2938625.0,130306.0,348073.0,4166.0,626323.0,9904.0
28824,2020-07-08,United States,57473.0,1174.0,2996098.0,131480.0,361666.0,4070.0,649076.0,10252.0
28825,2020-07-09,United States,58906.0,829.0,3055004.0,132309.0,368524.0,4247.0,673643.0,10330.0
28826,2020-07-10,United States,63004.0,982.0,3118008.0,133291.0,378129.0,4551.0,695698.0,8875.0
28827,2020-07-11,United States,66625.0,806.0,3184633.0,134097.0,390312.0,4663.0,716796.0,9058.0
28828,2020-07-12,United States,63051.0,717.0,3247684.0,134814.0,408142.0,5138.0,737361.0,9275.0
28829,2020-07-13,United States,57258.0,391.0,3304942.0,135205.0,416307.0,5258.0,755946.0,9401.0
28830,2020-07-14,United States,58114.0,400.0,3363056.0,135605.0,424431.0,5299.0,772504.0,9465.0

In [12]:
locations.tail()

,countriesAndTerritories,location,continent,population_year,population
205,Vietnam,Vietnam,Asia,2020.0,97338583.0
206,Western_Sahara,Western Sahara,Africa,2020.0,597330.0
207,Yemen,Yemen,Asia,2020.0,29825968.0
208,Zambia,Zambia,Africa,2020.0,18383956.0
209,Zimbabwe,Zimbabwe,Africa,2020.0,14862927.0