In [1]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import mysql.connector
import os
from mysql.connector import errorcode
import pandas as pd
import sys
import json

In [2]:
locations = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/locations.csv')
full_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/full_data.csv')

In [3]:
full_data = full_data.fillna(0)
mysql_data = [tuple(x) for x in full_data.values.tolist()]

In [4]:
full_data.tail()

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
30444,2020-07-11,Zimbabwe,16.0,1.0,942.0,13.0,317.0,6.0,381.0,7.0
30445,2020-07-12,Zimbabwe,40.0,5.0,982.0,18.0,284.0,10.0,415.0,12.0
30446,2020-07-13,Zimbabwe,3.0,0.0,985.0,18.0,269.0,10.0,418.0,12.0
30447,2020-07-14,Zimbabwe,49.0,1.0,1034.0,19.0,300.0,10.0,460.0,12.0
30448,2020-07-15,Zimbabwe,0.0,0.0,1034.0,19.0,247.0,10.0,443.0,12.0

In [12]:
locations.tail()

,countriesAndTerritories,location,continent,population_year,population
205,Vietnam,Vietnam,Asia,2020.0,97338583.0
206,Western_Sahara,Western Sahara,Africa,2020.0,597330.0
207,Yemen,Yemen,Asia,2020.0,29825968.0
208,Zambia,Zambia,Africa,2020.0,18383956.0
209,Zimbabwe,Zimbabwe,Africa,2020.0,14862927.0

In [8]:
len(full_data)

30238