In [2]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import mysql.connector
import os
from mysql.connector import errorcode
import pandas as pd
import sys
import json

In [9]:
locations = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/locations.csv')
full_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/ecdc/full_data.csv')

In [11]:
full_data.loc[full_data['location'] == 'United States'].tail()

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
28826,2020-07-10,United States,63004.0,982.0,3118008.0,133291.0,378129.0,4551.0,695698.0,8875.0
28827,2020-07-11,United States,66625.0,806.0,3184633.0,134097.0,390312.0,4663.0,716796.0,9058.0
28828,2020-07-12,United States,63051.0,717.0,3247684.0,134814.0,408142.0,5138.0,737361.0,9275.0
28829,2020-07-13,United States,57258.0,391.0,3304942.0,135205.0,416307.0,5258.0,755946.0,9401.0
28830,2020-07-14,United States,58114.0,400.0,3363056.0,135605.0,424431.0,5299.0,772504.0,9465.0

In [12]:
locations.tail()

,countriesAndTerritories,location,continent,population_year,population
205,Vietnam,Vietnam,Asia,2020.0,97338583.0
206,Western_Sahara,Western Sahara,Africa,2020.0,597330.0
207,Yemen,Yemen,Asia,2020.0,29825968.0
208,Zambia,Zambia,Africa,2020.0,18383956.0
209,Zimbabwe,Zimbabwe,Africa,2020.0,14862927.0