In [3]:
import pandas as pd

In [34]:
zipcode_df = pd.read_csv('../corona-dashboard-server/data/zipcode.csv')

In [35]:
zipcode_df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [36]:
zipcode_df = zipcode_df.loc[zipcode_df['state'] == 'CA'][['zip','primary_city','state','county']]

In [37]:
zipcode_df.tail()

         zip      primary_city state            county
40766  96157  South Lake Tahoe    CA  El Dorado County
40767  96158  South Lake Tahoe    CA  El Dorado County
40768  96160           Truckee    CA     Nevada County
40769  96161           Truckee    CA     Nevada County
40770  96162           Truckee    CA     Placer County

In [38]:
import pymysql

In [39]:
db = pymysql.connect("localhost","root","4.0Stanford","corona" )

In [40]:
cursor = db.cursor()

In [41]:
cursor.execute("SELECT VERSION()")

1

In [42]:
zipcode_df.isnull().values.any()

False

In [43]:
zipcode_df.isnull().sum().sum()

0

In [44]:
zipcode_df['county'].isnull().values.any()

False

In [45]:
zipcode_df[zipcode_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [zip, primary_city, state, county]
Index: []